
* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(236,214,183,100)
  
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.625rem;
  transition: all 0.3s ease;
}

.navbar-links li:hover {
  
  padding-top: 0.5rem;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.875rem;
  height: 1.3125rem;
}

.toggle-button .bar {
  height: 0.1875rem;
  width: 100%;
  background-color: black;
  border-radius: 0.625rem;
}

@media (max-width: 50rem) {
  body {
      font-size: 14px;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: 0.3125rem 0.625rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

.cart-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.31rem;
  color: #7a694f;
  text-decoration: none;
}

.logo {
  width: 14.75rem;
  margin-left: 0.38rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6e5db;
  font-size: 16px;
}

main {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.hero {
  position: relative;
  background-image: url(img/Hero.jpg);
  background-size: cover;
  background-position: center;
  height: 43.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.566)
  );
  z-index: -1;
}

.hero h1 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #7a694f;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.313rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #b3a366;
}

.featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.625rem;
  margin-top: 2rem;
}

.product {
  background-color: #f5f5f5;
  padding: 1rem;
  text-align: center;
  border-radius: 0.313rem;
  box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.625rem;
}

.product h3 {
  margin-bottom: 0.313rem;
}

.product p {
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 4.6667rem 0;
}
.footer-col{
   width: 25%;
   padding: 0 0.9375rem;
}
.footer-col h4{
	font-size: 1.125rem;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 1.9167rem;
  padding-left: 2.5rem;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
  
	content: '';
	position: absolute;
	left: 2.5rem;
	bottom: -0.625rem;
	background-color: #e91e63;
	height: 0.125rem;
	box-sizing: border-box;
	width: 3.125rem;
}
.footer-col ul li{
  color:#bbbbbb ;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 0.625rem;
}
.footer-col ul li a{
	font-size: 1rem;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 0.5rem;
}
.footer-col .social-links a{
	display: inline-block;
	height: 2.667rem;
	width: 2.667rem;
	background-color: rgba(255,255,255,0.2);
	margin:0 0.625rem 0.625rem 0;
	text-align: center;
	line-height: 2.667rem;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 1.875rem;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.Rights{
  color: #bbbbbb;
  text-align: center;
}













